// scale
$scale: 1.2;
$s0: 1rem;
$s1: $s0 * $scale;
$s2: $s1 * $scale;
$s3: $s2 * $scale;
$s4: $s3 * $scale;
$s5: $s4 * $scale;
$s-1: $s0 / $scale;
$s-2: $s-1 / $scale;
$s-3: $s-2 / $scale;
$s-4: $s-3 / $scale;
$s-5: $s-4 / $scale;

// colors
$brand: hsl(120, 50%, 25%);
$backgound: hsl(120, 100%, 90%);
$text: hsl(120, 100%, 10%);
$overlay: hsla(120,10%,30%,0.2);
$light: hsla(0, 0%, 100%, 0.9);

@mixin shadow {
    box-shadow: 0 2px 3px 0 hsla(0, 0%, 0%, 0.2);
    
    @media (min-width: 500px) {
        box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    }
}

body {
    display: flex;
    justify-content: center;
    background-color: $brand;
    margin: 0;
    min-height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: $s0;
    color: $text;
}

#container {
    display: flex;
    flex-direction: column;
    padding: 2 * $s0;
    min-height: calc(100vh - #{ 4 * $s0 });
    max-width: 1200px;
    background-color: $backgound;
}

header, footer {
    flex-shrink: 0;
}

header {
    margin-top: -1 * $s0;
}

main {
    flex: 1 0 auto;
}

noscript {
    h2 {
        font-size: $s4;
        color: red;
    }
}

h1 {
    font-size: $s5;
    color: $brand;
}

#slider-container {
    display: flex;
    
    #amount {
        flex: 1 0 auto;
        margin-right: $s0;
    }
    
    #value {
        flex-shrink: 0;
    }
}

#calculate {
    background-color: $brand;
    color: $light;
    border: solid $light 0.1em;
    border-radius: $s-5;
    font-size: $s1;
    padding: 0.1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    
    @include shadow;
}

#result {
    width: 100%;
    font-size: $s0;
    background-color: $overlay;
    padding: $s0;
    border-radius: $s-5;
    margin-top: 0;
    margin-left: -1 * $s0;
    margin-right: -1 * $s0;
    
    .highlight {
        font-weight: bolder;
    }
    
    @include shadow;
}

details {
    padding: 1em;
    margin-left: -1em;
    margin-right: -1em;
    
    summary {
        cursor: pointer;
    }
    
    label {
        line-height: $s2;
        margin-top: $s-4;
        display: inline-block;
    }
}

details[open] {
    border-radius: $s-5;
    background-color: $overlay;
    
    @include shadow();
}

footer {
    margin-bottom: -2 * $s0;
}

#color-bar {
    background-color: $brand;
    height: $s-5;
    width: 100%;
    position: absolute;
    top: 0;
}

@media (min-width: 500px) {
    #color-bar {
        display: none;
    }
}